@font-face {
  font-family: 'iconfont';  /* project id 2501485 */
  src: url('//at.alicdn.com/t/font_2501485_ft19xj37qde.eot');
  src: url('//at.alicdn.com/t/font_2501485_ft19xj37qde.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2501485_ft19xj37qde.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2501485_ft19xj37qde.woff') format('woff'),
  url('//at.alicdn.com/t/font_2501485_ft19xj37qde.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2501485_ft19xj37qde.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bangqiu:before {
  content: "\e8bb";
}

.icon-ganlanqiu:before {
  content: "\e8bc";
}

.icon-fanchuan:before {
  content: "\e8bd";
}

.icon-huaban:before {
  content: "\e8be";
}

.icon-jiashi:before {
  content: "\e8bf";
}

.icon-jijiuxiang:before {
  content: "\e8c0";
}

.icon-jiangbei:before {
  content: "\e8c1";
}

.icon-lanqiu:before {
  content: "\e8c2";
}

.icon-quanji:before {
  content: "\e8c3";
}

.icon-huachuan:before {
  content: "\e8c4";
}

.icon-jiangzhang:before {
  content: "\e8c5";
}

.icon-paobuji:before {
  content: "\e8c6";
}

.icon-miaobiao:before {
  content: "\e8c7";
}

.icon-pingpangqiu:before {
  content: "\e8c8";
}

.icon-shuangjianbao:before {
  content: "\e8c9";
}

.icon-qiuyi:before {
  content: "\e8ca";
}

.icon-paiqiu:before {
  content: "\e8cb";
}

.icon-xinshuai:before {
  content: "\e8cc";
}

.icon-zhandouduanku:before {
  content: "\e8cd";
}

.icon-taiqiu:before {
  content: "\e8ce";
}

.icon-yundongbao:before {
  content: "\e8cf";
}

.icon-shuihu:before {
  content: "\e8d0";
}

.icon-zuqiu:before {
  content: "\e8d1";
}

.icon-youyongquan:before {
  content: "\e8d2";
}

.icon-tichengqi:before {
  content: "\e8d3";
}

.icon-yundongbeixin:before {
  content: "\e8d4";
}

.icon-yumaoqiu:before {
  content: "\e8d5";
}

.icon-paiming:before {
  content: "\e8d6";
}

.icon-yaling:before {
  content: "\e8d7";
}

.icon-wangqiu:before {
  content: "\e8d8";
}

